@import "tailwindcss";

@layer base {
  body {
    background-color: #030206;
    color: #f1f5f9;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom glowing scrollbars for dark theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080511;
}

::-webkit-scrollbar-thumb {
  background: #3b185f;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
